//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

// MARK: - Presenter
final class {{ module_info.name }}Presenter {

    weak var view: {{ module_info.name }}ViewBehavior!

}

extension {{ module_info.name }}Presenter: {{ module_info.name }}EventHandler {

}