//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

// MARK: - Router
final class {{ module_info.name }}Router: VIPERRouter<{{ module_info.name }}ViewController> {

}
