//
//  {{ prefix }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

// MARK: - View Controller
final class {{ module_info.name }}ViewController: BaseViewController {
    
    var handler: {{ module_info.name }}EventHandler!
    typealias RouterType = {{ module_info.name }}Router
    var router: RouterType!

    // MARK: - Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
    }

}

extension {{ module_info.name }}ViewController: {{ module_info.name }}ViewBehavior {

}